/* selector { property: value;} */

/*element name"*/

address {
  text-align-last: center;
}
/*by class name*/



/* by id*/

/*#id name*/
#about {
  float: none;

  border-width: 40px;
  border-style: solid;
  border-color: #5ca612;
  border-radius: 10px;
  background-color: #5ca612;
}
#name {
  float: left;
  color: white;
  margin-top: -10px;
  margin-ri;
  font-size: 20px;
}

#email {
  float: right;

  margin-top: -35px;

  font-family: cursive;
  font-size: 10px;
  color: white;
  text-decoration: none;

}

#button {

  left: 50%;
  margin-right: 50%;
  transform: translate(50%, 50%);
  margin-bottom: 20px;
  border-color: #5ca612;
  border-radius: 10px;
  background-color: #5ca612;


}
