body {
  background-color: black;
}
.about
{
  float: none;

  width: 1022px;
  height: 10%;

  border-width: 5px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  background-color: #5ca612;
}
#name
{
  font-family: heather;

  margin-top: 15px;
  margin-left: 30px;

  color: white;
}
#email
{
  font-family: heather;
  font-size: 15px;

  float: right;

  margin-top: -50px;
  margin-right: 20px;

  text-decoration: none;

  color: white;
}
#bold{
  font-weight: 900;
}

#left
{
  float: left;
  width: 200px;
  height: 904px;
  margin-top: -910px;
  margin-bottom: 5px;

  border-style: solid;
  border-color: black;
  border-radius: 5px;
  background-color: grey;
}

#coverPhoto {
  width: 304px;
  height: 228px;
  position: absolute;
  left: 678px;
  top: 136px;
}

.wholeAlign
{
  font-family: heather;


  padding-left: 10px;

  margin-left: 210px;
  width: 803px;
  height: 90%;
  margin-top: 5px;
  margin-right: -9px;
  position:static;

  border-style: solid;
  border-color: black
  border-width: 10px;
  border-radius: 5px;
  background: rgba(255,175,75,1);
  background:    -moz-linear-gradient(left, rgba(255,175,75,1) 0%, rgba(255,146,10,.77) 47%, rgba(255,146,10,.55) 93%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,175,75,1)), color-stop(47%, rgba(255,146,10,.77)), color-stop(93%, rgba(255,146,10,.55)));
  background: -webkit-linear-gradient(left, rgba(255,175,75,1) 0%, rgba(255,146,10,.77) 47%, rgba(255,146,10,.55) 93%);
  background:      -o-linear-gradient(left, rgba(255,175,75,1) 0%, rgba(255,146,10,.77) 47%, rgba(255,146,10,.55) 93%);
  background:     -ms-linear-gradient(left, rgba(255,175,75,1) 0%, rgba(255,146,10,.77) 47%, rgba(255,146,10,.55) 93%);
  background:         linear-gradient(to right, rgba(255,175,75,1) 0%, rgba(255,146,10,.77) 47%, rgba(255,146,10,.55) 93%);

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a', GradientType=1 );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a', GradientType=1 );
}

#button
{
  font-size: 15px;
  margin-bottom: 50px;
  margin-left: 275px;
  padding-bottom: 21px;
  padding-top: 14px;
  text-decoration-color: white;

  border-color: #5ca612;
  border-radius: 10px;
  background-color: #5ca612;
}

address
{
  position: static;
  right: 0;
  bottom: 100%;
  left: 0;

  width: 1022px;
  margin-top: 5px;


  text-align-last: center;

  color: white;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  background-color: #5ca612;
}
